
   <!-- <div class="prova"  >
    {{sneakers|async|json}} 
</div> -->
 <div class="wrapper">
     <div class="one">
<img [src]="img" alt="">
<br><br>
<div class="ripristina">
<input type="button" value="RIPRISTINA" >
</div>
</div>

<div class="two">
    <div class="uno">
        <h1>Jordan retro 4</h1>
    </div>

 <div class="due">
     <p>Colore sneakers:</p>
    <a href=""><span *ngFor="let item of sneakers|async" [class]="item.color"></span></a>&nbsp;
    
 </div>
<div class="tre">
    <p>Testo personalizzato:</p>
    <input type="text" value="Inserisci il testo">
</div>
<div class="quattro">
    <input type="button" value="AGGIUNGI AL CARRELLO">
</div>
</div>
</div>
