<div class="prova">
</div>

<form>
    <div class="wrapper">
        <div class="one">
            <img [src]="img" alt="">
            <br><br>
            <!-- <div class="ripristina">
<input type="button" value="RIPRISTINA" >
</div> -->
        </div>

        <div class="two">
            <div class="uno">
                <h3>CUSTOMIZE YOUR SNEAKER</h3>
            </div>

            <div class="due">
                <p>Color:</p>
                <app-shoes-color ></app-shoes-color>
            </div>
            <div class="tre">
                <p>Custom text:</p>
                <input type="text" placeholder="Enter your text">
            </div>
            <div class="quattro">
                <input type="submit" value="AGGIUNGI AL CARRELLO" >
            </div>
        </div>
    </div>
</form>