//.all {}

ngb-carousel {
    width: 50%;
    padding-top: 1%;
    margin-left: auto;
    margin-right: auto;
    //margin-top: -155px;
    outline: none;
}
::carousel-indicators li {
    background-color: red;
}

img {
    width: 100%;
    height: 500px;
    border-top: 50px solid rgb(204, 204, 204);
    border-bottom: 50px solid rgb(204, 204, 204);
    border-left: 40px solid rgb(204, 204, 204);
    border-right: 40px solid rgb(204, 204, 204);
   
}
div:hover {
    
    outline: none;
    }
.bott {
    text-align: center;
    margin: 10px auto;
}

button {
    margin: 0 auto;
    outline: none;
    text-decoration: none;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 60px;
    width: 230px;
    background-color: #c280ff;
    border: 1px solid white;
    color: white;
    font-size: 20px;
}
button:hover span {
    animation: storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
    25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
    }
    50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
    }
    75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    }
    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

@keyframes storm {
    0% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
    25% {
        transform: translate3d(4px, 0, 0) translateZ(0);
    }
    50% {
        transform: translate3d(-3px, 0, 0) translateZ(0);
    }
    75% {
        transform: translate3d(2px, 0, 0) translateZ(0);
    }
    100% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
}

//menu
.menu {
    background: linear-gradient(90deg, rgba(239, 213, 255, 1) 0%, rgba(81, 90, 218, 1) 100%);
    height: 260px;
}

.title {
    padding: 20px;
    text-align: center;
    font-size: 30px;
    color: white;
    background-color: rgba(255, 255, 255, 0.4);
}

.strong {
    font-weight: bolder;
}

.cart {
    width: 150px;
    position: absolute;
    right: 3%;
    top: 20px;
    font-size: 20px;
    color: white;
}
p{
    color: black;
}
.icart {
    height: 40px;
    border: 0;
}
#prenota{
 margin-left: 42%;
 margin-right: 42%;
}
h3{
    color: black;
}
.prova{
    height: 15%;
    background: linear-gradient( to right,#81d2f8 1%, #c081ff 50%);
}