.white {
    margin: 0;
      font-family: Roboto, "Helvetica Neue", sans-serif;
      background-image: url("/assets/img/sneakers.jpg")   ;
      font-weight: bold;
      height: 100%;
      margin: 0;
    }
  
  .body {
      display: grid;
      grid-template-rows: 75px 1fr ;
      height: 100vh;
    }
  
  .content {
    height: 100%;
    overflow: auto;
    }
  
  ::-webkit-scrollbar {
      width: 20px;
    }
    
  ::-webkit-scrollbar-thumb {
    background: #052431; 
    border-radius: 10px;
    }
    
  ::-webkit-scrollbar-thumb:hover {
    background: black; 
    }