/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';
html,
body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: auto;
    //padding: 0;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    height: 100%;
    max-height: 100%;
}